.body {
	font-size:14px;
	line-height:24px;
	font-color:#000000;
	font-weight:normal;
	font-family: "PT Sans Narrow", sans-serif, Arial;
	width:1200px;
}

h1 {
	font-size:30px;
	line-height:42px;
	font-color:#000000;
	font-weight:normal;
	font-family: "PT Sans Narrow", sans-serif, Arial;
	text-transform:uppercase;
}


h2 {
	font-size:30px;
	line-height:normal;
	font-color:#000000;
	font-weight:normal;
	font-family: "PT Sans Narrow", sans-serif, Arial;
}

.clearfix::after {
	content:"";
	display:table;
	clear:both;
}

.main-header {
	
	min-height:70px;
	margin-bottom:60px;
}

.container {
	
	width:940px;
	margin:0 auto;
	padding:0 10px;
}

.main-navigation {
	
	float:left;
	width:780px;
}

.user-block {
	
	float:right;
	width:140px;
}

.index-logo {
	
	margin:0 auto;
	width:368px;
	height:204px;
	margin-bottom:25px;
}

.features {
	margin-bottom:80px;
	
}

.features-item {
	width:300px;
	float:left;
	margin-right:20px;
	
}



.features-item:last-child{
	margin-right:0;
}

.index-content {
	
	padding:50px 80px;
	margin-bottom:35px;
}

.index-content-left {
	float:left;
	
	width:380px;
}

.index-content-right {
	float:right;
	
	width:300px;
}

.main-footer {
	margin-top:65px;
	padding-top:60px;
	padding-bottom:40px;		
}

.footer-contacts {
	float:left;
	width:320px;
	margin-right:60px;
}

.footer-social {
	float:left;
	width:180px;
}

.footer-copyright {
	float:right;
	width:180px;
}

.item-title {
	width:620px;
	outline:1px solid black;
	margin-bottom:25px;

}

.breadcrumbs {
	outline:1px solid black;
	width: 645px;
	margin-bottom:60px;
	padding-left:0;
}

.breadcrumbs li,
.main-navigation li {
	margin-right:20px;
	display:inline-block;
}

.strong {/*придумать другой класс*/


}


.item-content {
	
	margin-bottom:35px;
	

}

.item-content-left {
	
	width:460px;             /*подобрать ширину*/
	float:left;
}

.item-content-right { 
	float:right;
	width:400px;             /*подобрать ширину*/
	
}

.price-title {

}

.price-content {
	width:940px;
	outline:2px solid red;
	margin-bottom:30px;
}



.price-content-left { /*подобрать ширину*/
	width:440px;
	float: left;
	outline:1px solid black;

}

.price-content-right { /*подобрать ширину*/
	width:440px; 
	float: right;
	outline:1px solid black;

}


.about-us {
	width:940px;
	outline:2px solid red;

}

.about-us-left { /*подобрать ширину*/
	width:430px; 
	float:left;
	outline:1px solid black;
	

}

.abous-us-right {
	width:420px;
	float:right;
	outline:1px solid black;
	
}

.filter {
	outline:1px solid black;
	float:left;
	width:250px;
}

.catalog {
	outline:1px solid black;
	float:right;
	width:670px;
	margin-bottom: 35px;
}

.catalog-item {
	outline:1px solid black;
	width:220px;
	min-height:250px;
	display:inline-block;
	vertical-align: top;
}

.paginator {
	margin-left:260px;
	clear:both;
}

.paginator li {
	display:inline-block;
}