.body {
	font-size:14px;
	line-height:24px;
	font-color:#000000;
	font-weight:normal;
	font-family: "PT Sans Narrow", sans-serif, Arial;
}

h1 {
	font-size:30px;
	line-height:42px;
	font-color:#000000;
	font-weight:normal;
	font-family: "PT Sans Narrow", sans-serif, Arial;
	text-transform:uppercase;


h2 {
	font-size:30px;
	line-height:normal;
	font-color:#000000;
	font-weight:normal;
	font-family: "PT Sans Narrow", sans-serif, Arial;
}